<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix student-index-render">
  <div id="index-render-about" class="container faq">
    <br class="clear">
    <% if @students.blank? %>
      <div class="g12" style="height: 500px;">&nbsp;</div>
    <% else %>
    <div class="g5 alpha mf">
      <div id="index-render-shadow"></div>
      <ul>
        <% @students.each do |faq| %>
          <li><%= link_to faq.question, student_show_path(faq) %></li>
        <% end %>
      </ul>
      <div id="index-render-shadow-rotate"></div>
    </div>


    <div class="g7 omega mf faq-render">
      <p>З кожним роком навчання за кордоном стає дедалі більш популярним серед української молоді. Освіта, здобута у провідних європейських навчальних закладах, стає надійним фундаментом майбутнього кар’єрного зростання. Це поєднання теорії та навчальної практики у провідних європейських компаніях, досвіду міжнародного спілкування та побудови кар’єри у якості фахівця за обраним напрямком навчання. Ну і, звичайно ж, досконале засвоєння іноземної мови.</p>
    </div>

    <% end %>



  </div>
</div>
<br class="clear">
