<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix student-index-render">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2>Ми підібрали відповіді на усі ФАКИ!</h2>
    </div>
    <br class="clear">


  </div>
</div>
<br class="clear">
