<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix student-index-render">
  <div id="index-render-about" class="container faq">
    <br class="clear">

    <div class="g5 alpha mf">
      <div id="index-render-shadow"></div>
      <ul>
        <% @students.each do |faq| %>
          <li <% if @student.id == faq.id %> class="visited" <% end %>><%= link_to faq.question, student_show_path(faq) %></li>
        <% end %>
      </ul>
      <div id="index-render-shadow-rotate"></div>
    </div>


    <div class="g7 omega mf html_safe faq-render">
      <%= @student.answer.html_safe unless @student.answer.blank? %>
    </div>



  </div>
</div>
<br class="clear">
