<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2>Усіляки наші і не тільки анонси та плітки!</h2>
    </div>
    <br class="clear">
    <%#= render :partial => 'article' %>
    <%= render @articles %>
    <br class="clear">
    <div id="notification-loading"></div>
    <div id="loading"></div>
    <%= will_paginate @articles, :class => 'pagination g12 alpha' %>

  </div>
</div>
<br class="clear">
