<br class="clear">
<div id="index-render-about-wrapper" class="articles-page clearfix uni-index-render">
  <div id="index-render-about" class="container">
    <div class="g12 alpha">
      <h2>Навчальні заклади з якими ми співпрацюємо</h2>
    </div>
    <br class="clear">


  </div>
</div>
<br class="clear">
