<div id="breadcrumbs-render-main">
  <ul>
    <li>
      <span>\\</span>
      <%= link_to t('variables.menu.main'), root_path, :title => t('variables.menu.main')  %>
    </li>
    <li>
      <span>\</span>
      <%= link_to t('variables.menu.articles'), article_path, :title => t('variables.menu.articles') %>
    </li>
    <li>
      <span>\</span>
      <%= @article.name %>
    </li>
  </ul>
</div>
