/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "bourbon";
$block-margins: 60px;
$block-footer-margins: 90px;
$text-block-antialaising: subpixel-antialiased;
@import "media-grid/normalize_browsers";
@import "media-grid/init_grid_system";

@import "media-grid/@fluid-low";
@import "font-system/typo";

@import "layout";
@import "pages";


